.ph__media {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  padding: 90px 56px 56px 43vw !important;
}

.ph__image {
  position: relative !important;
  inset: auto !important;
  width: 94% !important;
  height: 100% !important;
  object-fit: contain !important;
  object-position: center center !important;
}

@media (max-width: 980px) {
  .ph__media {
    justify-content: center !important;
    padding: 84px 18px 38vh !important;
  }
}
